* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://img.freepik.com/premium-vector/playing-cards-suits-seamless-pattern_196637-224.jpg');
}

.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.players {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.player {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card {
    margin: 10px;
}

.card img {
    max-width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

.score-container, .total-sum-container {
    margin-top: 10px;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

button#start-button, button#generate-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#start-button:hover, button#generate-button:hover {
    background-color: black;
}
